.box_model{
	display: flex;
	padding: 10px;
	height: 102px;
	max-width: 400px;
	background-color: black;
	border: 4px solid white;
	color: white;
	margin: auto;
	position: absolute;
	left: 60px;
	bottom: 0;
}

.text_model{
	font-size: 1.2em;
	margin: 0;
}